* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app,
.el-container,
.el-menu {
  height: 100%;
  overflow-x: hidden;
}
body {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
}
svg {
  width: 1em;
  height: 1em;
  margin-right: 4px;
}
