.el-header {
  padding: 0 !important;
}

.cc-choose-icon-dialog-body-height {
  .el-dialog__body {
    height: 500px;
    overflow: scroll;
  }
}
.el-main {
  background: #f0f2f5;
}
.el-tabs__new-tab {
  display: none !important;
}
